<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 Page Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.3.min.css"/>
  </head>
    
  <body style="text-align:center">
    <h1>Whoops!</h1>
    <h3>Page Not Found</h3>
    <img src="https://pixnio.com/free-images/2017/04/18/2017-04-18-07-14-23-e1492500702959-900x414.jpg"
         alt="Page Not Found" width="1200" height="500">
    <h4>Go back to <a href="/">HomePage</a></h4>
  </body>
</html>

